.nav-bar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: navy;
  font-weight: 900;
  font-size: 20px;
}
.nav-li {
  margin-top: 10px;
  text-decoration: none;
}
.nav-li:hover {
  cursor: pointer;
  /* font-size: 25px; */
  padding: 1.5px;
  font-style: italic;
  background-color: palevioletred;
  border-radius: 5px;
}
