.about-main {
  margin-top: 70px;
  max-width: 80%;
  font-style: oblique;
  text-align: justify;
}

.about-head {
  border-bottom: 4px dotted red;
  color: navy;
  position: absolute;
  top: 15%;
}

.about-para {
  text-indent: 10vw;
  line-height: 30px;
  /* margin-top: 150px; */
}

@media (max-width: 640px) and (min-width: 320px) {
  .about-head {
    position: absolute;
    top: 13%;
  }
}
